body, h1, ul, li, button {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #e0e0e0;
  color: #333;
}

.container {
  background-color: #e0e0e0;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  max-width: 45%;
  margin: 0 auto;
  padding: 20px;
}

@media (max-width: 768px) {
  .container {
    max-width: 90%;
  }
}

header {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: #8d4040;
  background-color: #e0e0e0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 8px #a7a7a7, -4px -4px 8px #ffffff;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

@media (max-width: 768px) {
  header {
    font-size: 1.5em;
  }
}

.pokemon-list {
  list-style-type: none;
  background-color: #dcc9c9;
  padding: 20px;
  margin: 0 -20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

button {
  padding: 10px;
  margin: 5px;
  background-color: lightgray;
  border: 1px solid black;
  cursor: pointer;
}

button:hover {
  background-color: gray;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.modal-header, .modal-body {
  padding: 10px;
}

.btn-primary {
  background-color: #e0e0e0;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 1.7px 0.5px #a7a7a7, -5px -5px 5px #ffffff;
  color: #333;
  transition: all 0.9s ease-in-out;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: #d1d1d1;
  box-shadow: inset 1px 1px 2px #a7a7a7, inset -5px -5px 10px #ffffff;
  color: #000;
}

.pokemon-list li {
  background-color: #e0e0e0;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #a7a7a7, -5px -5px 10px #ffffff;
  margin: 10px;
  padding: 15px;
  list-style-type: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.pokemon-list li:hover {
  background-color: #d9d9d9;
  box-shadow: 3px 3px 6px #a7a7a7, -3px -3px 6px #ffffff;
}

.navbar {
  background-color: #e0e0e0;
  box-shadow: 4px 4px 8px #a7a7a7, -4px -4px 8px #ffffff;
  border-radius: 10px;
}

.pokeball {
  position: relative;
  width: 50px;
  height: 50px;
  background: #e0e0e0;
  border-radius: 50%;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.15),
    -20px -20px 40px rgba(255, 255, 255, 0.1),
    inset 1px 1px 2px rgba(0, 0, 0, 0.1),
    inset -1px -1px 2px rgba(255, 255, 255, 0.3);
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.15),
    -8px -8px 16px rgba(255, 255, 255, 0.15),
    inset 1px 1px 2px rgba(0, 0, 0, 0.1),
    inset -1px -1px 2px rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.top-half {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%;
  background: red;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border: 2px solid black;
  border-bottom: none;
}

.bottom-half {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: white;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border: 2px solid black;
  border-top: none;
}

.center-circle-border {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 14px;
  background: black;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3),
    inset -1px -1px 2px rgba(255, 255, 255, 0.7);
}

.center-circle {
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background: white;
  border-radius: 50%;
}

.navbar-brand, .navbar-nav .nav-link {
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus {
  color: #000;
}

.navbar-toggler {
  border-color: #a7a7a7;
}

.navbar-toggler-icon {
  background-image: url("...");
}

.navbar-toggler {
  background-color: #cc8787;
  border: none;
  box-shadow: 4px 4px 8px #a7a7a7, -4px -4px 8px #ffffff;
  border-radius: 10px;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23999999' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler.navbar-toggler {
  background-color: #e0e0e0;
  border: none;
  box-shadow: 4px 4px 8px #a7a7a7, -4px -4px 8px #ffffff;
  border-radius: 10px;
}

.navbar-toggler:hover, .navbar-toggler:focus {
  background-color: #d1d1d1;
  box-shadow: inset 1px 1px 2px #a7a7a7, inset -5px -5px 10px #ffffff;
}

.navbar-toggler:not(.collapsed) {
  background-color: #d1d1d1;
  box-shadow: inset 1px 1px 2px #a7a7a7, inset -5px -5px 10px #ffffff;
}

@media (min-width: 992px) {
  #pokemonModal .modal-dialog {
    max-width: 300px;
    margin: 1.75rem 13.5% 1.75rem auto;
    float: right;
  }
}
