/* Basic Reset */
body,
h1,
ul,
li,
button {
  margin: 0;
  padding: 0;
}

/* Basic Body Styling */
body {
  font-family: "Helvetica Neue", Arial, sans-serif; /* A more modern font */
  background-color: #e0e0e0; /* Light grey background to match buttons */
  color: #333; /* Darker text color for better readability */
}

/* Basic Container Styling */
.container {
  background-color: #e0e0e0;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  max-width: 45%;
  margin: 0 auto;
  padding: 20px;
}
@media (max-width: 768px) {
  .container {
    max-width: 90%;
  }
}
/* Basic Header Styling */
header {
  text-align: center; /* Center aligns the header text */
  font-size: 2em; /* Larger font size */
  font-weight: bold; /* Bold font weight */
  color: #8d4040; /* Dark grey color for readability */
  background-color: #e0e0e0; /* Light grey background */
  padding: 20px; /* Padding for spacing */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 4px 4px 8px #a7a7a7, -4px -4px 8px #ffffff; /* Neumorphic shadow */
  margin-bottom: 20px; /* Space below the header */
  position: relative; /* Allows for absolute positioning of the button */
  overflow: hidden; /* Hides the button when it's not in use */
}

/* Optional: Responsive adjustments */
@media (max-width: 768px) {
  header {
    font-size: 1.5em; /* Slightly smaller font size on smaller screens */
  }
}

/* Basic List Styling */
.pokemon-list {
  list-style-type: none;
  background-color: #dcc9c9;
  padding: 20px; /*adds padding inside of list*/
  margin: 0 -20px; /*removes padding from outside of list*/
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Basic Button Styling */
button {
  padding: 10px;
  margin: 5px;
  background-color: lightgray;
  border: 1px solid black;
  cursor: pointer;
}

button:hover {
  background-color: gray;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.modal-header,
.modal-body {
  padding: 10px;
}

.btn-primary {
  background-color: #e0e0e0; /* Light grey background, adjust as needed */
  border: none;
  border-radius: 3px; /* Rounded corners */
  box-shadow: 1px 1px 1.7px 0.5px #a7a7a7, -5px -5px 5px #ffffff; /* Soft outer shadow */
  color: #333; /* Text color, adjust as needed */
  transition: all 0.9s ease-in-out; /* Animation type */
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #d1d1d1; /* Slightly darker background on hover/focus */
  box-shadow: inset 1px 1px 2px #a7a7a7, inset -5px -5px 10px #ffffff; /* Inset shadow for a pressed effect */
  color: #000; /* Darker text color on hover/focus */
}

.pokemon-list li {
  background-color: #e0e0e0; /* Light grey background */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 5px 5px 10px #a7a7a7, -5px -5px 10px #ffffff; /* Neumorphic shadow */
  margin: 10px; /* Space between list items */
  padding: 15px; /* Padding inside each list item */
  list-style-type: none; /* Remove default list styling */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
}

.pokemon-list li:hover {
  background-color: #d9d9d9; /* Slightly darker background on hover */
  box-shadow: 3px 3px 6px #a7a7a7, -3px -3px 6px #ffffff; /* Subtle shadow change on hover */
}

.navbar {
  background-color: #e0e0e0; /* Light grey, similar to other neumorphic elements */
  box-shadow: 4px 4px 8px #a7a7a7, -4px -4px 8px #ffffff; /* Neumorphic shadow */
  border-radius: 10px; /* Optional: Rounded corners */
}


.pokeball {
  position: relative;
  width: 50px; /* Set desired size */
  height: 50px;
  background: #e0e0e0; /* Light grey background like in the image */
  border-radius: 50%;
  box-shadow: 
    20px 20px 40px rgba(0, 0, 0, 0.15), /* Dark shadow for depth */
    -20px -20px 40px rgba(255, 255, 255, 0.1), /* Light shadow for highlights */
  inset 1px 1px 2px rgba(0, 0, 0, 0.1), /* Inset shadow for the inner depth */
  inset -1px -1px 2px rgba(255, 255, 255, 0.3); /* Inset highlight for the inner light */
   /* Note: Each shadow effect in box-shadow must be a complete and separate declaration, 
       correctly separated by commas. Mixing outer and inset shadows in one property 
       requires careful syntax to avoid errors. */
}


.top-half {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%;
  background: red;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border: 2px solid black; /* Added border */
  border-bottom: none; /* Removes the bottom border */
}

.bottom-half {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: white;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border: 2px solid black; /* Added border */
  border-top: none; /* Removes the top border */
}

.center-circle-border {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px; /* Set desired size */
  height: 14px;
  background: black;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 
  inset 1px 1px 2px rgba(0, 0, 0, 0.3), /* Adjusted for a more noticeable inset shadow */
  inset -1px -1px 2px rgba(255, 255, 255, 0.7); /* Adjusted for a more noticeable inset highlight */
}

.center-circle {
  position: absolute;
  top: 2px; /* Adjust size for the border */
  left: 2px;
  right: 2px;
  bottom: 2px;
  background: white;
  border-radius: 50%;
}


.navbar-brand,
.navbar-nav .nav-link {
  color: #333; /* Dark grey color for readability */
  font-weight: bold; /* Optionally making the font bold */
  transition: color 0.3s ease; /* Smooth transition for hover effects */
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: #000; /* Darker color on hover/focus */
}

/* Adjustments for navbar-toggler (hamburger menu on smaller screens) */
.navbar-toggler {
  border-color: #a7a7a7; /* Color of the toggler icon */
}

.navbar-toggler-icon {
  background-image: url("..."); /* Optional: if you want a custom icon */
}

.navbar-toggler {
  background-color: #cc8787; /* Light grey, similar to other neumorphic elements */
  border: none; /* Remove borders */
  box-shadow: 4px 4px 8px #a7a7a7, -4px -4px 8px #ffffff; /* Neumorphic shadow */
  border-radius: 10px; /* Optional: Rounded corners */
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23999999' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  /* Custom SVG icon for the toggler */
}

.navbar-toggler.navbar-toggler {
  background-color: #e0e0e0; /* Light grey, similar to other neumorphic elements */
  border: none; /* Remove borders */
  box-shadow: 4px 4px 8px #a7a7a7, -4px -4px 8px #ffffff; /* Neumorphic shadow */
  border-radius: 10px; /* Optional: Rounded corners */
}

.navbar-toggler:hover,
.navbar-toggler:focus {
  background-color: #d1d1d1; /* Slightly darker background on hover/focus */
  box-shadow: inset 1px 1px 2px #a7a7a7, inset -5px -5px 10px #ffffff; /* Inset shadow for a pressed effect */
}

.navbar-toggler:not(.collapsed) {
  background-color: #d1d1d1; /* Slightly darker background on toggle */
  box-shadow: inset 1px 1px 2px #a7a7a7, inset -5px -5px 10px #ffffff; /* Inset shadow for a pressed effect */
}

/* Custom Modal Styling for Large Screens */
@media (min-width: 992px) {
  /* Targeting large screens */
  #pokemonModal .modal-dialog {
    max-width: 300px; /* Smaller width for the modal */
    margin: 1.75rem 13.5% 1.75rem auto; /* Top and Bottom margins with auto margins for left and right */
    float: right; /* Align to the right */
  }
}
